/Hands3/HandsOn3/nbproject/private/
/Hands3/LinearRegression/nbproject/private/
/Hands3/LinearRegression/build/
/HandsOn3/LinearRegression/build/
/HandsOn3/LinearRegression/nbproject/private/
/HandsOn3/OSLinearRegression/nbproject/private/
/HandsOn3/OSLinearRegression/build/
/HandsOn4/OSLinearRegression/build/
/HandsOn4/OSLinearRegression/nbproject/private/
/HandsOn5/OSLinearRegression/build/
/HandsOn5/OSLinearRegression/nbproject/private/
/HandsOn4 - copia/OSLinearRegression/build/
/HandsOn4 - copia/OSLinearRegression/nbproject/private/
/Challenge1/OSLinearRegression/build/
/Challenge1/OSLinearRegression/nbproject/private/
/HandsOn7/LogisticRegression/build/
/HandsOn7/LogisticRegression/nbproject/private/